
body {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: black;
}

h1 {
  font-size: 48px;
  color: #B0171F;
}

h2 {
  font-size: 36px;
  color: #B0171F;
}

h3 {
  font-size: 24px;
  color: #B0171F;
}

p, li {
  margin: 0px 16px 8px 16px;
}

/* #site-title {
  display: inline-block;
  position: absolute;
  font-size: 60px;
  text-align: center;
  color: #004961;
  top: 150px;
}
*/
.site-slogan {
  display: inline-block;
  /*position: relative;*/
  font-size: 36px;
  text-align: center;
  color: #004961;
  margin: 12px 25% 0px 25%;
}

#cherie {
  display: inline-block;
  position: absolute;
  font-size: 40px;
  margin: 20px 130px 0px 50px;
  z-index: 0;
}

#berry {
  display: inline-block;
  position: relative;
  font-size: 90px;
  font-weight: bold;
  margin: 0px 30px 0px 150px;
  z-index: 1;
}

nav {
  display: inline-block;
  position: relative;
  width: 80%;
  font-size: 14px;
  text-align: center;
}

img {
  display: inline-block;
  width: 30%;
  margin: 15px;
}

.headbg {
  display: inline-block;
  width: 460px;
  height: 630px;
  margin: 6% 25% 0% 25%;
  background-image: url("https://raw.githubusercontent.com/ncnext/cbinfo/gh-pages/img/cbelevatorv2.jpg");
}

div .cbmeme {
  display: inline-block;
}

#minimumwage {
  width: 40%;
}

#cheatworkers {
  width: 40%;
}

/*
#minimumwage {
  text-align: left;
  display: inline;
  width: 25%;
}

#cheatworkers {
  position: relative;
  width: 25%;
}
*/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.share-facebook, .share-twitter,
.share-facebook:hover, .share-twitter:hover {
  color: #fff;
  font-weight: 700;
}
.share-facebook {
  background-color: #4667A6;
}
.share-twitter {
  background-color: #00A3D4;
}

/* 'indian red' #B0171F */
/*see also http://cloford.com/resources/colours/500col.htm */
/* other colors: #004961 - dark blue; #e3e3e3 - light gray,  */
